.list
  -@areas.each do |area| 
    .listbox
      .listname
        =area.name
      .listaddres
        =area.addres
      .listinfo
        .listinfo__tel
          =area.tel
        .listprice
          .listprice__adult
            =area.adult_price
            円
          .listprice__child
            =area.child_price
            円
        .list_inter
          = link_to 'レビューへ', area_path(area.id)  


