* {
  box-sizing: border-box;
}

.Bar {
  color:black;
  width: 100%;
}

.Header {
  background-color:#BBFFFF;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  &__title{
  position: relative;
  padding: 0.1em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
  background: linear-gradient(to right, rgb(255, 186, 115), transparent);
  color: #545454;
  font-size: 30px;
  }
  &__list{
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    margin-left: 700px;
  }
  &__userName {
    font-size: 16px;
    font-weight: bold;
  }
  &__List {
    display: flex;
    justify-content: end;
  }
  &__select {
    margin-left: 5px;
    a {
      color:black;
      font-size: 16px;
    }
  }
}

.list{
  color: black;
  margin: 40px 20px;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}


.listbox{
  margin-bottom: 45px;
  width: 80%;
  border: double 5px #4ec4d3;
}

.listname{
  font-size: 22px;
}

.listinfo{
  display: flex;
}

.listprice{
  margin-left: 15px;
}


.all{
  display: flex;
  height: calc(100vh - 100px);
}

.sidebar{
  background-color: #D9E5FF;
  padding: 0 20px;
  overflow: scroll;
  width: 400px;
}

.box{
  padding: 20px 0;
}

.sidename{
  font-size: 22px;
}

.sideaddres{
  margin: 10px 0;
}

.sidetel{
  margin: 10px 0;
}

.sideadult{
  margin: 10px 0;
}

.sidechild{
  margin: 10px 0;
}

.form{
  background-color: #dddddd;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 0 40px;
  position: absolute;
  bottom: 0;
  width: calc(100vw - 400px);
}


.commentsfield{
  width: calc(100vw - 400px);
  position: relative;
}

.commenttop{
  text-align: center;
}
.commentbox{
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 35px 40px 0;
  height: calc(100vh - 100px);
  overflow: scroll;
}

